.bd-header {
  gap: 1.25rem;
  align-items: center;
  display: flex;
  --px: 2rem;
  --py: 2rem;
  flex-grow: 0;
  flex-shrink: 0;
  padding: var(--py) var(--px);
  position: relative;
  transition-duration: var(--bulma-duration);
  transition-property: background-image;
}

.bd-nav {
  flex-grow: 1;
  align-items: center;
  display: flex;
}

.bd-nav-item {
  --h: var(--bulma-warning-h);
  --s: var(--bulma-warning-s);
  --l: var(--bulma-warning-l);
  align-items: center;
  border-radius: 0.5em;
  color: var(--bulma-text-strong);
  display: flex;
  gap: 0.5em;
  padding: 0.5em 0.75em;
}

.bd-theme-dev {
  --theme-h: var(--bulma-warning-h);
  --theme-s: var(--bulma-warning-s);
  --theme-l: var(--bulma-warning-l);
  --theme-color: hsl(var(--theme-h), var(--theme-s), var(--theme-l));
}

.bd-theme-food {
  --theme-h: var(--bulma-primary-h);
  --theme-s: var(--bulma-primary-s);
  --theme-l: var(--bulma-primary-l);
  --theme-color: hsl(var(--theme-h), var(--theme-s), var(--theme-l));
}

.bd-theme-log {
  --theme-h: var(--bulma-info-h);
  --theme-s: var(--bulma-info-s);
  --theme-l: var(--bulma-info-l);
  --theme-color: hsl(var(--theme-h), var(--theme-s), var(--theme-l));
}

.bd-nav-item .icon {
  color: hsl(var(--h), var(--s), var(--l));
}

.card.is-food,
.bd-nav-item.is-food {
  --h: var(--bulma-primary-h);
  --s: var(--bulma-primary-s);
  --l: var(--bulma-primary-l);
}

.bd-nav-item.is-log {
  --h: var(--bulma-info-h);
  --s: var(--bulma-info-s);
  --l: var(--bulma-info-l);
}

.bd-nav-item.is-github {
  --h: var(--bulma-text-h);
  --s: var(--bulma-text-s);
  --l: var(--bulma-text-l);
}

.bd-nav-item:hover {
  background-color: hsla(var(--h), var(--s), var(--l), 0.1);
}

.bd-nav-item.is-active {
  background-color: hsla(var(--h), var(--s), var(--l), 0.2);
}

.bd-nav-icons {
  justify-content: space-evenly;
  position: relative;
  align-items: center;
  display: flex;
}

.logo {
  width: 160px;
  height: 140px;
}

.insta {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fdcb58);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.food-page {
  min-height: calc(100vh - 6.5rem);
}

.food-page .section {
  padding-top: 0;
}

.bd-hero {
  --scale: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: calc(var(--scale) * 1.5rem);
  padding: calc(var(--scale) * 1.5rem);
  text-align: center;
}

.food-page .bd-hero {
  position: relative;
  padding-top: 0;
  padding-bottom: 3;
}

.food-page .bd-hero-body {
  position: relative;
  margin: 0 auto;
  max-width: 110rem;
  width: 100%;
}

.bd-hero-title {
  color: hsl(
    var(--bulma-text-h),
    var(--bulma-text-s),
    var(--bulma-text-title-l)
  );
  font-size: calc(var(--scale) * 3rem);
  font-weight: var(--bulma-weight-extrabold);
  line-height: 1.125;
  word-break: break-word;
}

.food-create-button {
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: center;
  margin-bottom: 2.5rem;
}

.bd-hr {
  background-color: var(--theme-color, var(--bulma-primary));
  border-radius: 9999px;
  height: 0.25rem;
  margin: 1em auto;
  width: 4em;
}

.food-contents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
  max-width: 110rem;
  margin: 0px auto;
}

.food-contents .card .media .address {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* 최대 4줄 표시 */
  overflow: hidden; /* 넘치는 내용 숨김 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
  height: 1.5em; /* 줄 높이에 따라 조정 (4줄 * 줄 높이) */
  line-height: 1.5em; /* 줄 높이 설정 (필요에 따라 조정) */
}

.food-contents .card .content .description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* 최대 4줄 표시 */
  overflow: hidden; /* 넘치는 내용 숨김 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
  height: 6em; /* 줄 높이에 따라 조정 (4줄 * 줄 높이) */
  line-height: 1.5em; /* 줄 높이 설정 (필요에 따라 조정) */
}

.food-contents .card:hover {
  --a: 0.05;
  border: 1.2px solid var(--theme-color);
  box-shadow: 0 1em 2em 0 hsla(var(--h), var(--s), var(--l), var(--a)),
    0 2em 4em 0 hsla(var(--h), var(--s), var(--l), var(--a));
  transform: translateY(-0.5em);
  cursor: pointer;
}

.button .is-warning .is-light {
  border: 1px solid black;
}

.card {
  margin-bottom: var(--bulma-block-spacing);
}

.card-not-image {
  max-width: 100%;
  height: 100%;
  border-start-end-radius: var(--bulma-card-radius);
  border-start-start-radius: var(--bulma-card-radius);
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.field.is-grouped {
  justify-content: flex-end;
}

.file.is-right .file-cta {
  border-radius: var(--bulma-file-radius);
}
.font-xxx-large {
  font-size: xxx-large;
}

.label {
  font-size: var(--bulma-size-medium);
}

.row-align-baseline {
  display: flex;
  align-items: baseline;
}

.font-18 {
  font-size: 18px;
}

.min-width-100 {
  min-width: 100px;
}

button.dropdown-item {
  padding-inline-end: 1rem;
  text-align: center;
}
